PimpMyUnicorn/WinFormPimpMyUnicornAdmin/Connected Services/WCFPimpMyUnicorn/WCFPimpMyUnicorn.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFPimpMyUnicorn.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFPimpMyUnicorn.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPartiesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartiesDTO" nillable="true" type="tns:PartiesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartiesDTO" nillable="true" type="tns:ArrayOfPartiesDTO" />
  <xs:complexType name="PartiesDTO">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="PartiesDTO" nillable="true" type="tns:PartiesDTO" />
  <xs:complexType name="ArrayOfElementsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ElementsDTO" nillable="true" type="tns:ElementsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfElementsDTO" nillable="true" type="tns:ArrayOfElementsDTO" />
  <xs:complexType name="ElementsDTO">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ElementsDTO" nillable="true" type="tns:ElementsDTO" />
</xs:schema>